<h1 mat-dialog-title>Add Stock Price</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Opening Price</mat-label>
    <input type="number" matInput [(ngModel)]="data.Open">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Closing Price</mat-label>
    <input type="number" matInput [(ngModel)]="data.Close">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data">Add</button>
</div>
