.data-container {
  width: 60%;
  height: 100%;
  margin: auto;
  overflow-y: scroll;
}

.mat-paginator{
  width: 60%;
  margin: auto;
}

mat-card {
  height: 100%;
}

mat-card-content {
  height: 60% !important;
}

mat-card-footer {
  text-align: center;
  width: 60%;
  margin: auto;
  background: #F7F7F7;
  padding: .60rem 0;
}

mat-card h1 {
  text-align: center;
}

table {
  width: 90%;
  margin: 10px auto 10px;
}

.page-link.disabled {
  pointer-events: none;
  cursor: auto;
}

.pagination {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  margin: 0;
}

.page-item {
  margin-right: 10px;
}
